.custom-navbar {
  background-color: #1f1f2e; 
  padding: 0.8rem 1rem;

  .brand-title {
    font-weight: 600;
    color: #fff;
    font-size: 1.25rem;
  }
  .navbar-toggler-icon {
  filter: invert(1);
}

  .nav-links {
    .nav-item {
      color: #ccc !important;
      margin-left: 1rem;
      display: flex;
      align-items: center;
      transition: color 0.3s ease;

      .icon {
        margin-right: 6px;
      }

      &:hover {
        color: #fff !important;
      }

      &.active {
        color: #00bcd4 !important;
        font-weight: bold;
        border-bottom: 2px solid #00bcd4;
      }
    }
  }
}